.table-header span {
  display: flex;
  align-items: center;
}

.arrow {
  --size: 7px;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  margin: 0 10px;
}

.up {
  width: 0;
  height: 0;
  border-bottom: var(--size) solid black;
}

.down {
  width: 0;
  height: 0;
  border-top: var(--size) solid black;
}
