* {
  margin: 0;
  padding: 0;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.col-1 {
  flex: 1;
}

.stripeCheckout {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 10px;
}
