.modal {
  /* VARIABLES */
  --modal-height: 120px;

  position: absolute;
  right: 0;
  bottom: calc(var(--modal-height) * -1);
  min-width: 300px;
  height: var(--modal-height);
  background-color: var(--navbar-background);
}

.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  position: absolute;
  animation-name: m3;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* display: none; */
}

.visible {
  position: absolute;
  animation-name: m2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes m2 {
  0% {
    right: -300px;
  }

  100% {
    right: 0;
  }
}

@keyframes m3 {
  0% {
    right: 0;
  }

  100% {
    right: -300px;
  }
}

.hidden2 {
  display: none;
}
