.header {
  background-color: var(--navbar-background);
  display: flex;
  align-items: center;
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header__search {
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: white;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__optionCart {
  display: flex;
  align-items: center;
}

.header__cartCount {
  margin-left: 10px;
  margin-right: 10px;
}

#login_register > button {
  font-size: 13px;
  font-weight: 800;
  border: 1px solid white;
  border-radius: 3px;
  padding-left: 2px;
  width: 80px;
}

.authfunc {
  /* color: var(--body-background) */
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
}
