.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.card-header > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header h3 {
  color: var(--dark-green);
}

.card-header h1 {
  font-family: var(--body-font2);
}

.card * {
  text-decoration: none;
  color: var(--black);
}
