.card img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  margin: 0 20px;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.card-header > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header > div > h1,
h3 {
  margin: 0;
}

.card-header > div > h3 {
  color: var(--dark-green);
}

.card * {
  text-decoration: none;
}
