#user-details-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-details-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 90%;
  width: 90%;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}

/* #user-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */
