/*
COLOR PALLETE

#0B0A07 (Rich Black)
#BBCEA8 (Laurel Green)
#E3D87E (Flax: Gold)
#F0EC57 (Icterine: Yellow)
#748067 (Xanadu: Green)
#345995 (Bdazzled Blue)

https://coolors.co/0b0a07-bbcea8-e3d87e-f0ec57-748067-345995
*/

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Dosis&family=Telex&display=swap');

* {
  font-size: 12px;
  --black: #0b0a07ff;
  --light-green: #bbcea8ff;
  --gold: #e3d87eff;
  --yellow: #f0ec57ff;
  --dark-green: #748067ff;
  --blue: #345995ff;
  --body-background: #bfbfbf;
  --navbar-background: #000614;
  --card-background: #f5f5f5;
  --body-font: 'Telex', Verdana, Geneva, Tahoma, sans-serif;
  --title-font: 'Akaya Kanadaka', cursive;
  --body-font2: 'Dosis', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: var(--black);
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

nav a {
  margin-left: 10px;
}
nav {
  border-bottom: 1px solid gray;
  padding: 5px;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  height: calc(100vh - 75px);
}
.landing,
.home {
  font-size: 24px;
  font-weight: bold;
  padding: 30px;
}

.App {
  height: 100%;
}

#root {
  height: 100%;
}

.AuthForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 24px;
}

.AuthForm input {
  width: 250px;
  margin: 5px 10px;
}

#message {
  text-align: center;
  background-color: #bbcea8ff;
  width: 100vw;
  height: 5vh;
  min-height: 10px;

  padding-top: 1.5vh;
  margin-right: auto;
}
