/*
    Basic Styling to get started (feel free to erase and add as needed)
*/

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Dosis&family=Telex&display=swap');
*{
  --body-font: 'Telex', Verdana, Geneva, Tahoma, sans-serif;
  --title-font: 'Akaya Kanadaka', cursive;
  --body-font2: 'Dosis', Verdana, Geneva, Tahoma, sans-serif;
}
nav a {
  margin-left: 10px;
}
nav {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.landing,
.Home {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 40px;
}

.AuthForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 24px;
}

.AuthForm input {
  width: 250px;
  margin: 5px 10px;
}
